<img src="https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?202104300506"
    class="img-responsive d-block mx-auto" alt="">
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 text-center lead">
        <h1>Apple</h1>
        <p>Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that
            designs, develops, and sells consumer electronics, computer software, and online services</p>
    </div>
</div>
<p class="text-center">Copyright © 2021 Apple Inc. All rights reserved.Privacy Policy Terms of Use Sales Policy Legal Site Map</p>
