<div class="container-fluid pt-5 text-center p-0 m-0">
    <img [src]="macbooks[0]?.imgLink" class="img-fluid w-100 h-100" alt="">
</div>
<div class="container">
    <h1 id="heading">{{macbooks[0]?.name}}</h1>
    <p class='lead'>{{macbooks[0]?.description}}</p>
    <button class="btn btn-outline-warning d-block mx-auto fs-2">Buy Now</button>
</div>
<div class="container-fluid pt-5 text-center m-0 p-0">
    <img [src]="macbooks[1]?.imgLink" class="img-fluid w-100 h-75" alt="">
</div>
<div class="container pb-5">
    <h1 id="heading">{{macbooks[1]?.name}}</h1>
    <p class='lead'>{{macbooks[1]?.description}}</p>
    <button class="btn btn-outline-warning d-block mx-auto fs-2">Buy Now</button>
</div>
<div>
</div>