<div class="bg-dark text-white pt-5 pb-5">
    <h4 class="text-center">iPhone 12 and iPhone 12 mini</h4>
    <h1 class="text-center">Blast past fast.</h1>
    <h5 class='text-center'>From ₹69900* before trade‑in</h5>
    <div class="text-center">
        <button class="btn btn-primary m-5">Buy</button>
    </div>
    <h4 class="text-center text-primary lead">Learn More ></h4>
    <img src="https://media-private.canva.com/iCWkM/MAEd-1iCWkM/1/s.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20210508%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210508T162331Z&X-Amz-Expires=86946&X-Amz-Signature=8a4e2fd4a1b0f8a60efa60071425b2c0f102c4e5535baba422630e06e573bb5b&X-Amz-SignedHeaders=host&response-expires=Sun%2C%2009%20May%202021%2016%3A32%3A37%20GMT"
        class="d-block mx-auto img-fluid">

</div>
<div class="bg-light">
    <h1 class="text-center pt-5 pb-5">Featured accessories</h1>
    <div class="container pb-3">
        <div class="row bg-white align-items-center justify-content-center">
            <div class="col-6 text-center pt-5 pb-5">
                <h1>MagSafe</h1>
                <h3 class="lead fs-3 fw-normal">Snap on a magnetic case, wallet or <br>both. And get faster <br>wireless charging.</h3>
                <h3 class="fw-normal text-primary">Buy Magsafe accessories ></h3>
            </div>
            <div class="col-6 pt-5 pb-5">
                <img src="https://www.deccanherald.com/sites/dh/files/article_images/Apple%20iPhone%2012%20Pro%20MagSafe%20accessories_0.jpg" class="w-100 h-100 img-fluid" alt="">
            </div>
        </div>
    </div>
    <div class="container pb-3 pb-5">
        <div class="row bg-white align-items-center justify-content-center">
            <div class="col-6 ">
                <img src="https://www.gizbot.com/img/600x40/img/2021/04/apple-airtags-bluetooth-device-tracker-launch-price1-1618981044.jpg" class="w-100 h-100 img-fluid" alt="">
            </div>
            <div class="col-6 text-center pt-5 pb-5">
                <h1>MagSafe</h1>
                <h3 class="lead fs-3 fw-normal">Snap on a magnetic case, wallet or <br>both. And get faster <br>wireless charging.</h3>
                <h3 class="fw-normal text-primary">Buy Magsafe accessories ></h3>
            </div>
        </div>
    </div>
</div>